# Mechine Learning Programm

- ### Simple Linear Regression

In [10]:
print ("Now start mechine learning course please becarefull ok")

Now start mechine learning course please becarefull ok

In [11]:
print ("Big Deal on meachine learning ")

Big Deal on meachine learning

In [12]:
print (2 + 2)

4

In [13]:
name : str = "Muhammad Aamir Rana"
fname: str = "Muhammad Amin"
education : str = "Master in Data Science"
age : int = 30
roll_Number : int = 42011

# card : str = "PIAIC STUDENT CARD Student Name: " + name
# card

## F- string

In [7]:
name : str = "Muhammad Aamir Rana"
fname: str = "Muhammad Amin"
education : str = "Master in Data Science"
age : int = 30
roll_Number : int = 42011

card : str = f"""
PIAIC STUDENT CARD
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education :{education} 
Roll Number:{roll_Number}  
Total {29 + 2 + 4 + 400}
"""
print(card)

PIAIC STUDENT CARD
Student Name : Muhammad Aamir Rana
Father's Name: Muhammad Amin
Age: 30
Education :Master in Data Science
Roll Number:42011
Total 435

## jinja Style

"""
Student name {{name}}
"""

## list comprehensive

In [8]:
[i for i in dir (str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## PLACE HOLDER KEHLATA H. YE KARLI BRAKIT { } YE.

### YE FORMAT KA METHOD H.

In [10]:
a = 7
b = 8
"Pakistan value a = {} and value b = {}".format(a,b)

'Pakistan value a = 7 and value b = 8'

### .format wala tarika

### UNSEKVENCE DATA VARIBALES

In [12]:
name : str = "Muhammad Aamir Rana"
fname: str = "Muhammad Amin"
education : str = "Master in Data Science"
age : int = 30
roll_Number : int = 42011

card1 : str = """
PIAIC STUDENT CARD
Student Name : {}
Father's Name: {}
Age: {}
Education :{} 
Roll Number:{}  
""".format(name,fname,education,age,roll_Number)
print(card1)

PIAIC STUDENT CARD
Student Name : Muhammad Aamir Rana
Father's Name: Muhammad Amin
Age: Master in Data Science
Education :30
Roll Number:42011

## 2nd Tareka for indexing number dy kar ap variable set kar sakty hain.

In [14]:
name : str = "Muhammad Aamir Rana"
fname: str = "Muhammad Amin"
education : str = "Master in Data Science"
age : int = 30
roll_Number : int = 42011

card1 : str = """
PIAIC STUDENT CARD
Student Name : {0}
Father's Name: {1}
Age: {3}
Education :{2} 
Roll Number:{4}  
""".format(name,fname,education,age,roll_Number)
print(card1)

PIAIC STUDENT CARD
Student Name : Muhammad Aamir Rana
Father's Name: Muhammad Amin
Age: 30
Education :Master in Data Science
Roll Number:42011

### AP INDEXING KI JAGAH APNA KOI BHI NAME DY SAKTY HAIN YE 3rd TARIKA H. EXAMPLE AP K SAMNY

In [15]:
name : str = "Muhammad Aamir Rana"
fname: str = "Muhammad Amin"
education : str = "Master in Data Science"
age : int = 30
roll_Number : int = 42011

card1 : str = """
PIAIC STUDENT CARD
Student Name : {a}
Father's Name: {b}
Age: {c}
Education :{d} 
Roll Number:{e}  
""".format(a = name,b= fname,c= education,d = age,e = roll_Number)
print(card1)

PIAIC STUDENT CARD
Student Name : Muhammad Aamir Rana
Father's Name: Muhammad Amin
Age: Master in Data Science
Education :30
Roll Number:42011

In [1]:
student_Code : str = f"""
print ("My Name is Muhammad Kamran junyjo khan")
print  ("I belong to Dubai Country")
a : int = 7
b : int = 7
c : int = 7
print(a + b + c)
"""
exec(student_Code)

My Name is Muhammad Kamran junyjo khan
I belong to Dubai Country
21

### Explor String methods and attributes

- print
- type
- id 
- len

### these are function

In [2]:
a : list[str] = [i for i in dir (str) if "__" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [3]:
name : str = "     MuHaMMAD     KAMRAN jAan     "
name

'MuHaMMAD KAMRAN jAan'

In [7]:
print(name.capitalize())

Muhammad kamran jaan

In [11]:
print(name.upper())

MUHAMMAD KAMRAN JAAN

In [13]:
print(name.casefold())

muhammad kamran jaan

In [16]:
display(name.title())

'Muhammad Kamran Jaan'

#### You can use f-string to compose a message like this

In [18]:
first_Name = "Elca"
last_Name = "Johne"
full_Name = f"{first_Name},{last_Name}"
message = f"Hello,Mr {full_Name.title()}!"
print(message)

Hello,Mr Elca,Johne!