# Mechine Learning Programm

- ### Simple Linear Regression

In [10]:
print ("Now start mechine learning course please becarefull ok")

Now start mechine learning course please becarefull ok

In [11]:
print ("Big Deal on meachine learning ")

Big Deal on meachine learning

In [12]:
print (2 + 2)

4

In [13]:
name : str = "Muhammad Aamir Rana"
fname: str = "Muhammad Amin"
education : str = "Master in Data Science"
age : int = 30
roll_Number : int = 42011

# card : str = "PIAIC STUDENT CARD Student Name: " + name
# card

## F- string

In [7]:
name : str = "Muhammad Aamir Rana"
fname: str = "Muhammad Amin"
education : str = "Master in Data Science"
age : int = 30
roll_Number : int = 42011

card : str = f"""
PIAIC STUDENT CARD
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education :{education} 
Roll Number:{roll_Number}  
Total {29 + 2 + 4 + 400}
"""
print(card)

PIAIC STUDENT CARD
Student Name : Muhammad Aamir Rana
Father's Name: Muhammad Amin
Age: 30
Education :Master in Data Science
Roll Number:42011
Total 435

## jinja Style

"""
Student name {{name}}
"""

## list comprehensive

In [8]:
[i for i in dir (str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## PLACE HOLDER KEHLATA H. YE KARLI BRAKIT { } YE.

### YE FORMAT KA METHOD H.

In [10]:
a = 7
b = 8
"Pakistan value a = {} and value b = {}".format(a,b)

'Pakistan value a = 7 and value b = 8'

### .format wala tarika

### UNSEKVENCE DATA VARIBALES

In [12]:
name : str = "Muhammad Aamir Rana"
fname: str = "Muhammad Amin"
education : str = "Master in Data Science"
age : int = 30
roll_Number : int = 42011

card1 : str = """
PIAIC STUDENT CARD
Student Name : {}
Father's Name: {}
Age: {}
Education :{} 
Roll Number:{}  
""".format(name,fname,education,age,roll_Number)
print(card1)

PIAIC STUDENT CARD
Student Name : Muhammad Aamir Rana
Father's Name: Muhammad Amin
Age: Master in Data Science
Education :30
Roll Number:42011

## 2nd Tareka for indexing number dy kar ap variable set kar sakty hain.

In [14]:
name : str = "Muhammad Aamir Rana"
fname: str = "Muhammad Amin"
education : str = "Master in Data Science"
age : int = 30
roll_Number : int = 42011

card1 : str = """
PIAIC STUDENT CARD
Student Name : {0}
Father's Name: {1}
Age: {3}
Education :{2} 
Roll Number:{4}  
""".format(name,fname,education,age,roll_Number)
print(card1)

PIAIC STUDENT CARD
Student Name : Muhammad Aamir Rana
Father's Name: Muhammad Amin
Age: 30
Education :Master in Data Science
Roll Number:42011

### AP INDEXING KI JAGAH APNA KOI BHI NAME DY SAKTY HAIN YE 3rd TARIKA H. EXAMPLE AP K SAMNY

In [15]:
name : str = "Muhammad Aamir Rana"
fname: str = "Muhammad Amin"
education : str = "Master in Data Science"
age : int = 30
roll_Number : int = 42011

card1 : str = """
PIAIC STUDENT CARD
Student Name : {a}
Father's Name: {b}
Age: {c}
Education :{d} 
Roll Number:{e}  
""".format(a = name,b= fname,c= education,d = age,e = roll_Number)
print(card1)

PIAIC STUDENT CARD
Student Name : Muhammad Aamir Rana
Father's Name: Muhammad Amin
Age: Master in Data Science
Education :30
Roll Number:42011

In [1]:
student_Code : str = f"""
print ("My Name is Muhammad Kamran junyjo khan")
print  ("I belong to Dubai Country")
a : int = 7
b : int = 7
c : int = 7
print(a + b + c)
"""
exec(student_Code)

My Name is Muhammad Kamran junyjo khan
I belong to Dubai Country
21

### Explor String methods and attributes

- print
- type
- id 
- len

### these are function

In [2]:
a : list[str] = [i for i in dir (str) if "__" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [3]:
name : str = "     MuHaMMAD     KAMRAN jAan     "
name

'MuHaMMAD KAMRAN jAan'

In [7]:
print(name.capitalize())

Muhammad kamran jaan

In [11]:
print(name.upper())

MUHAMMAD KAMRAN JAAN

In [13]:
print(name.casefold())

muhammad kamran jaan

In [16]:
display(name.title())

'Muhammad Kamran Jaan'

#### You can use f-string to compose a message like this

In [18]:
first_Name = "Elca"
last_Name = "Johne"
full_Name = f"{first_Name},{last_Name}"
message = f"Hello,Mr {full_Name.title()}!"
print(message)

Hello,Mr Elca,Johne!

In [20]:
print("Name:\t\t\t\t Muhammd \t\t Qasim")

Name:				 Muhammd 		 Qasim

In [21]:
print("Name:\t\t\t\t Muhammd \t\t Qasim")

Name:				 Muhammd 		 Qasim

a : list[str] = [i for i in dir (str) if "__" not in i]
print(a)
print(len(a))

#### Yes or No Answer Method for input

In [24]:
names : list[str] = [chr(i) for i in range(60,91)]
names

['<',
 '=',
 '>',
 '?',
 '@',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

### in or not in wala method

In [28]:
name2 : list[str] = ["Sir Zia","Kamran joya", "Furqan", "Noman"]
username : str = input("Enter your Name Please")
username in name2

False

In [29]:
a : list[str] = [i for i in dir (str) if "__" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [ ]:
a : list [str] = [i for i in dir (str) if "__" not in i]
a : list [str] = [i for i in dir [str] if "__" not in i]
a : list [str] = [i for i in dir [str] if "__" not in i]
a : list [str] = [i for i in dir [str] if "__" not in i]
a : list [str] = [i for i in dir [str] if "__" not in i]
a : list [str] = [i for i in dir [str] if "__" not in i]
a : list [str] = [i for i in dir [str] if "__" not in i]
a : list [str] = [i for i in dir [str] if "__" not in i]
a : list [str] = [i for i in dir [str] if "__" not in i]
a : list [str] = [i for i in dir [str] if "__" not in i]
a : list [str] = [i for i in dir [str] if "__" not in i]
a : list [str] = [i for i in dir [str] if "__" not in i]
a : list [str] = [i for i in dir [str] if "__" not in i]

In [ ]:
a : list[str] = [i for i in dir [str] if "__" not in i ]

In [32]:
a : list [str] = [i for i in dir (str) if "__" not in i]
print (a)

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [42]:
a : list [str] = [i for i in dir (str) if "__" not in i]
print(len(a))
print(a)

47
['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [43]:
a : list [str] = [i for i in dir (str)if "__"not in i]
a : list [str] = [i for i in dir (str)if "__"not in i]
a : list [str] = [i for i in dir (str)if "__"not in i]
a : list [str] = [i for i in dir (str)if "__"not in i]
a : list [str] = [i for i in dir (str)if "__"not in i]
a : list [str] = [i for i in dir (str)if "__"not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [1]:
name : list [str] = ["wahab","Tony","waris","jameel"]
name

['wahab', 'Tony', 'waris', 'jameel']

In [3]:
name : list [str] = ["wahab","Tony","waris","jameel","kamran","faysal","noman"]
for nano in name :
    print(nano)

wahab
Tony
waris
jameel
kamran
faysal
noman

In [ ]:
# While loops

In [3]:
x = 0
while (x<=5):
    print(x)
    x=x+1

0
1
2
3
4
5

In [4]:
for x in range (5,10):
    print(x)

5
6
7
8
9

In [5]:
days : list [str] = ["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]

for din in days : 
    print (din)

Mon
Tue
Wed
Thu
Fri
Sat
Sun

In [6]:
days : list [str] = ["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]

for din in days :
    if (din=="Fri"):
        break
    print (din)

Mon
Tue
Wed
Thu

In [7]:
days : list [str] = ["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]

for din in days :
    if (din=="Fri"):
        continue
    print (din)

Mon
Tue
Wed
Thu
Sat
Sun

In [8]:
tname : list [str] = ['zia','kamran','fakhir','wajid','majid','kamal','jameel']

for teac_name in tname : 
    print(teac_name)

zia
kamran
fakhir
wajid
majid
kamal
jameel

In [13]:
tname : list [str] = ['zia','kamran','fakhir','wajid','majid','kamal','jameel']

for teac_name in tname : 
    print(f'Dear,Sir,{teac_name},Well come to my school\n')

Dear,Sir,zia,Well come to my school

Dear,Sir,kamran,Well come to my school

Dear,Sir,fakhir,Well come to my school

Dear,Sir,wajid,Well come to my school

Dear,Sir,majid,Well come to my school

Dear,Sir,kamal,Well come to my school

Dear,Sir,jameel,Well come to my school

In [15]:
tname : list [str] = ['zia','kamran','fakhir','wajid','majid','kamal','jameel']

for teac_name in tname : 
    print(f'Dear,Sir,{teac_name},Well come to my school')
    print("Thank you for join us\n")

Dear,Sir,zia,Well come to my school
Thank you for join us

Dear,Sir,kamran,Well come to my school
Thank you for join us

Dear,Sir,fakhir,Well come to my school
Thank you for join us

Dear,Sir,wajid,Well come to my school
Thank you for join us

Dear,Sir,majid,Well come to my school
Thank you for join us

Dear,Sir,kamal,Well come to my school
Thank you for join us

Dear,Sir,jameel,Well come to my school
Thank you for join us

In [20]:
tname : list [str] = ['zia','kamran','fakhir','wajid','majid','kamal','jameel']

for teac_name in tname : 
    if (teac_name=="wajid") : continue
   
    print(f'Dear,Sir,{teac_name},Well come to my school')
    print("Thank you for join us\n")

Dear,Sir,zia,Well come to my school
Thank you for join us

Dear,Sir,kamran,Well come to my school
Thank you for join us

Dear,Sir,fakhir,Well come to my school
Thank you for join us

Dear,Sir,majid,Well come to my school
Thank you for join us

Dear,Sir,kamal,Well come to my school
Thank you for join us

Dear,Sir,jameel,Well come to my school
Thank you for join us

In [9]:
customer : list [str] = ['candy','wandy','prince','lake','sooper','cocolawa','coklate']
print(customer)

['candy', 'wandy', 'prince', 'lake', 'sooper', 'cocolawa', 'coklate']

In [34]:
customer : list [str] = ['candy','wandy','prince','lake','sooper','cocolawa','coklate']
for cs_name in customer : 
    print((cs_name))

candy
wandy
prince
lake
sooper
cocolawa
coklate

## List of Learning
- First Programme 
- Operators
- Strings/ F-Strings
- Comments
- Variables
- input Variables
- Conditional Logics
- Type Conversion
- if els or elif
- Functions
- Loops
- Import Libraries
- Trouble Shooting

In [ ]:
name : str = "Muhammad Aamir Rana"
fname: str = "Muhammad Amin"
education : str = "Master in Data Science"
age : int = 30
roll_Number : int = 42011

card : str = f"""
PIAIC STUDENT CARD
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education :{education} 
Roll Number:{roll_Number}  
Total {29 + 2 + 4 + 400}
"""
print(card)

In [50]:
stname : [str] = ['Muhammad Kamran Khan']
fatname : [str] = ['M.Sohail']
educationf : [str] = ['Master in Law']
egest : [str] = ['28']
Roll_Num : [str] = ['92117']
Totall_Marks : [str] = ["8092"]

cardstd : str = f"""
Piaic Student Identity Card
Student Name : {stname}
Father Name : {fatname}
Education : {egest}
Roll Number : {Roll_Num}
Marks : {Totall_Marks}
"""
print('Student information',(cardstd))

Student information
Piaic Student Identity Card
Student Name : ['Muhammad Kamran Khan']
Father Name : ['M.Sohail']
Education : ['28']
Roll Number : ['92117']
Marks : ['8092']

In [ ]:
 data_base : list [tuple[str,str]] = [("Qasim", "987"),
                                     ("Junaid","786"),
                                     ("Kamran","5948"),
                                     ("Noman",  "497"),
                                     ]
input_users : str = input ("Enter user name")
input_password : str = input("Enter user Password")

for root_list2 in data_base : 
    user_one , password_s = root_list2
    if input_users == input_users and input_password == password_s :
     print("valid User")
# sdfsadf

valid User

In [69]:
data_base : list [tuple[str,str,str]] = [("Qasim", "987","497635",),
                                         ("Junaid","786","497121",),
                                         ("Kamran","5948","49721",),
                                         ("Noman",  "497","49723",),
                                        ]
input_users : str = input ("Enter user name")
input_password : str = input("Enter user Password")
input_id : str = input('Enter your id number')

for root_list2 in data_base : 
    user , password , id = root_list2
    if input_users == input_users and input_password == password and input_id == id :
     print("valid User\n",'Thank you for joining')
     break
else: 
   print ('Unvaild Users\n''Sorry you are not registerd','Please Register First')

valid User
 Thank you for joining

In [ ]:
a : list [str] = [i for i in dir (str)if "__"not in i]

In [ ]:
a : list [str] = [i for i in dir (str)if "__" not in i]